.color {
  color: #4c63b6;
  font-family: 'Bree Seri';
}

.input {
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  border: none;
}
textarea {
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  border: none;
}
.img-no-notes {
  width: 150px;
}
.no-notes-container {
  color: #475569;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  padding: 0px;
  list-style-type: none;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
li {
  color: #475569;
  overflow: auto;
  margin: 5px;
  font-size: 12px;
  width: 210px;
  height: 150px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.m-0 {
  margin: 0px;
}
.mb-1 {
  margin-bottom: 8px;
}
